<aside>
    <header>
        <a href="{{ path('portfolio') }}"><img src="https://picsum.photos/id/633/260" alt=""></a>
    </header>
    <nav>
        <a href="{{ path('portfolio') }}">Portfolio</a>
        <a href="{{ path('about') }}">About</a>
        <a href="{{ path('contact') }}">Contact</a>

        {% if is_granted('ROLE_USER') %}
            <hr>
            <a href="{{ path('admin') }}">Admin</a>
            <a href="{{ path('logout') }}">Logout</a>
        {% endif %}
    </nav>
    <footer>
        <div>
            <a href="https://www.instagram.com/milonekos"><i class="fab fa-instagram"></i></a>
            <a href="https://www.reddit.com/u/Nevir-Kelpie"><i class="fab fa-reddit-alien"></i></a>
            <a href="https://twitter.com/MiloOctavios"><i class="fab fa-twitter"></i></a>
        </div>
    </footer>
</aside>